/* header styles */
header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2rem;
    z-index: 2;
}

#explore a {
    color:#FFCE4E;
    font-family: 'Work Sans';
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 21px;
}

.top-menu a {
   color:#F5FBF2; 
   font-family: 'Work Sans';
   font-size: 2rem;
   font-weight: 500;
   letter-spacing: 0.02em;
   line-height: 21px;
}

.top-menu {
    display: flex;
    justify-content: space-around;
}

header .logo-container img {
    height: auto;
    width: 8rem;
}

header .contact-btn {
    background: #E9D7A71A;
    border: 1px solid #FFCE4E;
    color: #FFCE4E;
    font-family: 'Work Sans';
    font-size: 2rem;
    font-weight: 600;
    padding: 2rem 3rem 2rem 3rem;
    margin: 1rem;
}

/* nav styles */

nav {
    color: white;
    display: flex;
    font-size: 1.5rem;
    margin-left: 30rem;
    margin-top: 2.5rem;
}

nav .nav-item {
    display: flex;
    justify-content: center;
    margin: 1rem 5rem;
    width: 100%;
    z-index: 0;
}

nav div {
    font-family: 'Work Sans';
    font-size: 2rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 21px;
}



.contact-btn {
    margin-left: -2rem;
    padding: 0.5rem;
}

button{
    top: 38px;
}


