main {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.intro {
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    /*margin-bottom: 10rem; */
}

/*Intro Image Background*/
.intro:before {
    background-color: #E9D7A71A;
    bottom: -10rem;
    content: '';
    left: 75rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

.intro__flex-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 4.8rem;
    margin: 4rem;
    text-align: left;
}


.intro__info--left {
    display: flex;
    justify-content: stretch;
    margin-left: -6rem;
}


.intro__info--leftButtons button:first-child {
    color: black;
}

.intro__info--leftButtons button {
    color: white;
    margin: 5rem;
    padding: 1.5rem;
}

.intro__info--leftCall {
    margin-top: 5rem;
    display: flex;

}

.counter__text--big>p {
    font-size: 5rem;
    height: 5rem;
    font-weight: 700;
    margin: 0 4rem;

}

.counter__desc {
    font-size: 1.8rem;
    margin-left: 4rem;
}

.intro--right {
    display: flex;
    margin-top: 5rem;
    z-index: 0;
}

.counter-box {
    display: flex;
}


.intro--full {
    display: flex;
    max-width: 100%;
}



.intro--left {
    display: flex;
}

.intro__flex-items img {
    width: 70%;
}

.line-break {
    height: 2rem;
    width: 100%;
}

.explore__btn {
    background: #FFCE4E;
    font-family: 'Work Sans';
    font-size: 28px;
    font-weight: 600;
    width: 200px;
}

.create__btn {
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid #FFCE4E;
    font-family: 'Work Sans';
    font-size: 3rem;
    font-weight: 600;
    width: 200px;
}

/* SECTIONS TITLES */

.auctions__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position:relative;
    margin: 4rem;
}

/* .collections__subtitle {
    margin-bottom: -6rem;
} */


.auctions__subtitle--text {
    font-family: 'Oxanium';
    font-size: 6rem;
    font-weight: 700;
    line-height: 14rem;
    position: absolute;
    left: 40rem;
}

.creators__subtitle,
.collections__subtitle,
.creators__subtitle,
.categories__subtitle {
    position: relative;
}

.subtitle--text,
.collections__subtitle--text,
.categories__subtitle--text,
.creators__subtitle--text,
.newsletter__subtitle--text .map__subtitle--text,
.newsletter__subtitle--text {
    font-family: 'Oxanium';
    font-size: 6rem;
    font-weight: 700;
    line-height: 14rem;
}

.auctions__circle--purple:before {
    background-repeat: no-repeat;
    background: linear-gradient(#8613A5, #8613A5) bottom/2px 50%, #8613A5;
    border-radius: 50%;
    content: "";
    height: 10rem;
    left: 40rem;
    position: absolute;
    top: 98rem;
    width: 10rem;
    z-index: -1;
    display: none;
}

.logos {
    max-width: 100vw;
    margin: 10px 17px 14px 18px;
}

.logos div{
    gap:60px;
    align-items: center;
    display: flex;
    justify-content: space-around;
}

/*LIVE AUCTIONS */

.next__buttons img {
    height: auto;
    margin-right: 2rem;
    width: 4rem;
}

.cards__carrosel,
.categories__cards {
    display: flex;
}

.card {
    background-color: #3D2942;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
}

.container__card img {
    height: auto;
    padding: 2rem;
    width: 100%;
}

.container__card .timer {
    background-image: linear-gradient(0.34turn, #8613A5 85%, #FAFAFA);
    left: 2rem;
    position: relative;
    top: -4.8rem;
    width: 10rem;
}

.card__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -4rem;
    padding: 1rem;
    width: 98%;
}

.card__favorite {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card__favorite img {
    height: 3rem;
    margin-right: 1rem;
    width: auto;
}

.card__price {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: inherit;
}

.card__btn {
    margin-top: 2rem;

}

.card__creator {
    align-items: center;
    display: flex;
}

.card__creator img {
    height: auto;
    width: 5rem;

}

.card__creator img:first-child {
    margin-right: 2rem;
}

.card__btn button {
    background-color: #E9D7A71A;
    border: 1px solid #FFCE4E;
    color: white;
    font-size: large;
    height: 5rem;
    margin-bottom: 2rem;
    width: 20rem;
}


/*  BUTTON VIEW ALL  */
.cards__btn--viewall,
.creators__btn--viewall {
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid #FFCE4E;
    color: #F5FBF2;
    display: flex;
    font-family: 'Work Sans';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 3.2rem;
    margin-bottom: 4.8rem;
    margin-top: 8rem;
    padding: 2.2rem 6.2rem;
}

.cards__viewAll--button,
.creators__viewAll--button {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* HOW IT WORKS */
.works {
    display: flex;
    margin-bottom: 4rem;
}

.work-arrow img {
    height: auto;
    margin: 5rem;
    width: 10rem;
}

.work-box img {
    height: auto;
    width: 11rem;
}

.work-arrow {
    align-items: center;
    display: flex;
    height: auto;
}

.works p {
    color: #FFCE4E;
    font-family: "Work Sans";
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: capitalize;
}

.map {
    margin-bottom: 4rem;
}

/*TOP CREATORS */

#creators-img {
    width: 35%;
}

#creators-img-4 {
    border-radius: 50%;
    width: 35%;
}

/*POPULAR COLLECTIONS*/

.collections__circle--red,
.creators_circle--red {
    background-repeat: no-repeat;
    background: linear-gradient(red, red) bottom/2px 50%, red;
    border-radius: 50%;
    content: "";
    height: 10rem;
    left: 30rem;
    position: absolute;
    top: 2rem;
    width: 10rem;
    z-index: -1;
}

.creators_circle--red {
    left: 40rem;
}

.collection__card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.collection__card img {
    height: auto;
    width: 8rem;
}

/*EXPLORE BY CATEGORIES */

.categories__subtitle {
    position: relative;
}

.categories__subtitle--purple {
    background-repeat: no-repeat;
    background: linear-gradient(purple, purple) bottom/2px 50%, purple;
    border-radius: 50%;
    content: "";
    height: 10rem;
    left: 25em;
    position: absolute;
    top: 2rem;
    width: 10rem;
    z-index: -1;
}

.container__card>div>button {
    position: relative;
    top: -20rem;
}

.card__bid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.card__spacer {
    margin: 2rem;
}

.card__info--active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -7rem;
    padding: 1rem;
    width: 98%;
}

.card__btn--bid {
    background: #FFCE4E;
    font-size: large;
    height: 5rem;
    width: 15rem;
}



.collection__card--left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*CREATORS SECTION*/

/* .creators__subtitle--text {
  margin-bottom: -6rem; 
} */

.creators__container {
    display: flex;
    flex-wrap: wrap;
}

.creators__box {
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #3D2942;
    margin: 2rem;
    border-left: solid;
    border-color: red;
}

.creators__data {
    padding: 2rem;
    border-left: solid;
    border-color: #96839B;
}

/*READY FOR NEXT NFT DROP  */

.subscribe-btn {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 2rem;
    width: 24rem;
    height: 9rem;
    border: none;
    background: #E7B226;
    border: 0.1rem solid #E7B226;
}

#newsletter__box {
    border: 0.1rem solid #E7B226;
    display: flex;
    height: 9rem;
    width: 65rem;
    align-items: center;
    flex-flow: row wrap;
}

.newsletter div input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #F5FBF2;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    padding: 0 5.2rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter div input::placeholder {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #A48EA9;
}

/* FOOTER */

footer {
    background-color: #251928;
    /* display: flex;
    justify-content: center;
    width: 100%; */
}

.footer__main {

    color: #96839B;
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    font-family: "Work Sans";
    font-size: 1.5rem;
    padding: 5rem 5rem;


}

.social-links a:link {
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.social-links img {
    width: auto;
    height: 3rem;
    margin: 2rem;
}

#ntf-footer-logo {
    height: auto;
    width: 20rem;

}

.social-links {
    display: flex;
    padding-top: 6rem;
    width: 0.1rem;
}

.footer__left {
    display: flex;
    flex-direction: column;
    margin: 0 4rem;
}

.footer__left h2 {
    line-height: 2.5rem;
    text-decoration: none;
}

.footer__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.about-us-list {
    align-items: center;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    flex-grow: 1;
}

.footer__center {
    margin: 0 4rem;
}

.footer__center li,
.footer__right li {
    list-style-type: none;
    margin-bottom: 2rem;
    text-decoration: none;
}

.footer__center h2,
.footer__right h2 {
    color: white;
    margin-bottom: 2rem;
}

/* .intro:before {
    display:none
} */

@media (max-width: 600px) {

    .top:before {
        display: none;
    }

    .intro {
        flex-direction: column;
    }

    /* .intro__flex-items img {
        width: 70%;
    } */

    .counter-box {
        display: none;
    }

    .auctions__subtitle--text{
        position: relative;
        left: 0;
        top:0;
    }

    .subtitle--text,
    .collections__subtitle--text,
    .categories__subtitle--text,
    .creators__subtitle--text,
    .newsletter__subtitle--text .map__subtitle--text,
    .newsletter__subtitle--text {
        font-family: 'Oxanium';
        font-size: 6rem;
        font-weight: 700;
        line-height: 14rem;
    }

    .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 83px;;
    }

    .logos div {
        gap: 30px;
        width: 302px;
        flex-wrap: wrap;
        margin: 0;
    }
   
    .logos div img:nth-child(1){
        width: 130px;
    }

    .logos div img:nth-child(2){
        width: 130px;
    }

    .logos div img:nth-child(3){
        width: 130px;
    }

    .logos div img:nth-child(4){
        width: 130px;
    }
    

    .cards__carrosel,
    .categories__card,
    .categories__cards {
        flex-basis: 50%;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .collections__circle--red,
    .creators_circle--red .categories__subtitle--purple {
        height: 10rem;
        position: absolute;
        width: 10rem;
        z-index: -1;
        top: 2rem;
        left: 6rem;
    }

    .categories__subtitle--purple{
        left: 5rem;
    }

    .container__card {
        flex: 1 0 50%;
    }

    .container__card:first-child {
        flex: 0 1 100%;
    }

    .card {
        background-color: #3D2942;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2rem;
        flex: 1 0 50%;
    }

    .works {
        flex-direction: column;
    }

    .work-arrow {
        transform: rotate(90deg);
        margin: 6rem;
    }

    .creators__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        flex-basis: 6rem;
    }

    .creators_circle--red {
        left: 5rem;
    }

    .newsletter {
        display: none;
    }

    .footer__main {
        padding: 2rem 0rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .footer__main>* {
        margin: 2rem;

    }

    .footer__left {
        order: 3
    }


}

@media (max-width: 1279px) and (min-width: 601px) {
    .intro:before {
        display: none
    }

    .intro--full div {
        color: #896E6E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .intro {
        flex-direction: column;
    }

    /* .intro__flex-items img {
        width: 70%;
    } */

    .counter-box {
        display: none;
    }

    /* .intro__flex-items > div:nth-child(3) {
        margin
    } */

    .logos{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
        margin-top: 83px;;
    }

    .logos div {
        gap: 30px;
        width: 302px;
        flex-wrap: wrap;
        margin: 0;
    }
   
    .logos div img:nth-child(1){
        width: 130px;
    }

    .logos div img:nth-child(2){
        width: 130px;
    }

    .logos div img:nth-child(3){
        width: 130px;
    }

    .logos div img:nth-child(4){
        width: 130px;
    }

    .auctions__subtitle--text{
        position: relative;
        left: 0;
        top:0;
    }

    .categories__subtitle--purple{
        left: 5rem;
    }

    .subtitle--text,
    .collections__subtitle--text,
    .categories__subtitle--text,
    .creators__subtitle--text,
    .newsletter__subtitle--text .map__subtitle--text,
    .newsletter__subtitle--text {
        font-family: 'Oxanium';
        font-size: 6rem;
        font-weight: 700;
        line-height: 14rem;
    }

    .cards__carrosel,
    .categories__cards {
        flex-basis: 50%;
        position: relative;
        flex-direction: column;
        flex-wrap: wrap;
    }

    /* .container__card{
        flex: 1 0 50%;
    }

    .container__card:first-child {
        flex: 0 1 100%;
    } */

    .card {
        background-color: #3D2942;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 2rem;

    }

    .works {
        flex-direction: column;
    }

    .work-arrow {
        transform: rotate(90deg);
        margin: 8rem;
    }

    .creators__container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 60rem;
    }

    .creators_circle--red {
        left: 10rem;
    }

    .newsletter {
        display: none;
    }

    .footer__main {
        padding: 2rem 0rem;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    .footer__main>* {
        margin: 2rem;

    }

    .footer__left {
        order: 3
    }



}