main {
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 3rem;
    text-align: center;
    width: 100%;
    z-index: 0;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 10rem;
}

/*Intro Image Background*/
.intro:before {
    background-color: #E9D7A71A;
    bottom: -10rem;
    content: '';
    left: 80rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}


.intro__text--left {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 4.8rem;
    margin: 4rem;
    text-align: left;
}

.intro__text--left p {
    line-height: 10rem;
}

.intro__info--left {
    align-items: center;
    display: flex;
    justify-content: stretch;
    align-items: flex-start;
}

.intro__info--leftButtons button:first-child {
    color: black;
}

.intro__info--leftButtons button {
    color: white;
    margin: 5rem;
    padding: 1.5rem;
}

.intro__info--leftCall {
    margin-top: 5rem;
    display: flex;

}

.counter__text--big > p {
    font-size:5rem; 
    height:5rem; 
    font-weight: 700;
    margin: 0 4rem;

}

.counter__desc{
   font-size:1.5rem;
   margin-left: 6rem;
}

.intro--right {
    display: flex;
    margin-top: 5rem;
    z-index: 0;
}

.intro--full {
    margin: 0px 3rem;
    display: flex; 
    justify-content: space-around;
}

.intro--full img {
    width: 30%;

} 



.intro--left {
    display: flex;
    /* font-family: 'Oxanium';
    font-size: 5.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 10rem;
    padding-left: 1rem; */
    
}
.intro--full div {
    color: #896E6E;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width:100%;

}
.intro__logos{
    flex-wrap: wrap;
    width: 100%;
}

.line-break {
    height: 2rem;
    width: 100%;
}

.explore__btn {
    background: #FFCE4E;
    font-family: 'Work Sans';
    font-size: 28px;
    font-weight: 600;
    width: 200px;
}

.create__btn {
    background: rgba(233, 215, 167, 0.1);
    border: 1px solid #FFCE4E;
    font-family: 'Work Sans';
    font-size: 3rem;
    font-weight: 600;
    width: 200px;
}

/* SECTIONS TITLES */

.auctions__subtitle {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.collections__subtitle {
    margin-bottom: -6rem;
}


.auctions__subtitle--text {
    font-family: 'Oxanium';
    font-size: 6rem;
    font-weight: 700;
    line-height: 14rem;
    left: 40rem;
    position: relative;
}

.subtitle--text,
.collections__subtitle--text,
.categories__subtitle--text,
.creators__subtitle--text,
.newsletter__subtitle--text .map__subtitle--text,
.newsletter__subtitle--text {
    font-family: 'Oxanium';
    font-size: 6rem;
    font-weight: 700;
    line-height: 14rem;
}

.auctions__circle--purple:before {
    background-repeat: no-repeat;
    background: linear-gradient(#8613A5, #8613A5) bottom/2px 50%, #8613A5;
    border-radius: 50%;
    content: "";
    height: 10rem;
    left: 40rem;
    position: absolute;
    top: 98rem;
    width: 10rem;
    z-index: -1;
    display:none;
}

/*LIVE AUCTIONS */

.next__buttons img {
    height: auto;
    margin-right: 2rem;
    width: 4rem;
}

.cards__carrosel,
.categories__cards {
    display: flex;
    flex-direction: row;
}

.card {
    background-color: #3D2942;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 2rem;
}

.container__card img {
    height: auto;
    padding: 2rem;
    width: 100%;
}

.container__card .timer {
    background-image: linear-gradient(0.34turn, #8613A5 85%, #FAFAFA);
    left: 2rem;
    position: relative;
    top: -4.8rem;
    width: 10rem;
}

.card__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -4rem;
    padding: 1rem;
    width: 98%;
}

.card__favorite {
    align-items: center;
    display: flex;
    flex-direction: row;
}

.card__favorite img {
    height: 3rem;
    margin-right: 1rem;
    width: auto;
}

.card__price {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    width: inherit;
}

.card__btn {
    margin-top: 2rem;

}

.card__creator {
    align-items: center;
    display: flex;
}

.card__creator img {
    height: auto;
    width: 5rem;

}

.card__creator img:first-child {
    margin-right: 2rem;
}

.card__btn button {
    background-color: #E9D7A71A;
    border: 1px solid #FFCE4E;
    color: white;
    font-size: large;
    height: 5rem;
    margin-bottom: 2rem;
    width: 20rem;
}


/*  BUTTON VIEW ALL  */
.cards__btn--viewall,
.creators__btn--viewall {
    align-items: center;
    background-color: transparent;
    border: 0.2rem solid #FFCE4E;
    color: #F5FBF2;
    display: flex;
    font-family: 'Work Sans';
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 500;
    letter-spacing: 0.05em;
    line-height: 3.2rem;
    margin-bottom: 4.8rem;
    margin-top: 8rem;
    padding: 2.2rem 6.2rem;
}

.cards__viewAll--button,
.creators__viewAll--button {
    align-items: center;
    display: flex;
    justify-content: center;
}

/* HOW IT WORKS */
.works {
    display: flex;
    margin-bottom: 4rem;
}

.work-arrow img {
    height: auto;
    margin: 5rem;
    width: 10rem;
}

.work-box img {
    height: auto;
    width: 11rem;
}

.work-arrow {
    align-items: center;
    display: flex;
    height: auto;
}

.works p {
    color: #FFCE4E;
    font-family: "Work Sans";
    font-size: 2.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 3rem;
    text-transform: capitalize;
}

.map {
    margin-bottom: 4rem;
}

/*TOP CREATORS */

#creators-img {
    width: 35%;
}

#creators-img-4 {
    border-radius: 50%;
    width: 35%;
}

/*POPULAR COLLECTIONS*/

.collections__circle--red,
.creators_circle--red {
    background-repeat: no-repeat;
    background: linear-gradient(red, red) bottom/2px 50%, red;
    border-radius: 50%;
    content: "";
    height: 10rem;
    left: 30rem;
    position: relative;
    top: -12rem;
    width: 10rem;
    z-index: -1;
}

.collection__card {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.collection__card img {
    height: auto;
    width: 8rem;
}

/*EXPLORE BY CATEGORIES */

.categories__subtitle--purple {
    background-repeat: no-repeat;
    background: linear-gradient(purple, purple) bottom/2px 50%, purple;
    border-radius: 50%;
    content: "";
    height: 10rem;
    left: 26rem;
    position: relative;
    top: -12rem;
    width: 10rem;
    z-index: -1;
}

.container__card>div>button {
    position: relative;
    top: -20rem;
}

.card__bid {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.card__spacer {
    margin: 2rem;
}

.card__info--active {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: -7rem;
    padding: 1rem;
    width: 98%;
}

.card__btn--bid {
    background: #FFCE4E;
    font-size: large;
    height: 5rem;
    width: 15rem;
}

.categories__subtitle {
    margin-bottom: -6rem;
}

.collection__card--left {
    display: flex;
    flex-direction: row;
    align-items: center;
}

/*CREATORS SECTION*/

.creators__subtitle--text {
    margin-bottom: -6rem;
}

.creators__container {
    display: flex;
    flex-wrap: wrap;
}

.creators__box {
    flex: 35%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #3D2942;
    margin: 2rem;
    border-left: solid;
    border-color: red;
}

.creators__data {
    padding: 2rem;
    border-left: solid;
    border-color: #96839B;
}

.creators_circle--red {
    left: 36rem;
    top: -6rem;
    left: 38rem;
}

/*READY FOR NEXT NFT DROP  */

.subscribe-btn {
    font-family: Work Sans;
    font-weight: 700;
    font-size: 2rem;
    width: 24rem;
    height: 9rem;
    border: none;
    background: #E7B226;
    border: 0.1rem solid #E7B226;
}

.newsletter div {
    border: 0.1rem solid #E7B226;
    display: flex;
    width: 65rem;
    height: 9rem;
    border: 0.1rem solid #E7B226;
}

.newsletter div input {
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    color: #F5FBF2;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    padding: 0 5.2rem;
}

.newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newsletter div input::placeholder {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 2.2rem;
    line-height: 3.2rem;
    color: #A48EA9;
}

/* FOOTER */

footer {
    background-color: #251928;
    display: flex;
    justify-content: center;
    width: 100%;
}

.footer__main {

    color: #96839B;
    display: flex;
    flex-direction: row;
    font-family: "Work Sans";
    font-size: 1.5rem;
    padding:  10rem 5rem;


}

.social-links a:link {
    margin-right: 2rem;
    margin-bottom: 4rem;
}

.social-links img {
    width: auto;
    height: 3rem;
    margin: 2rem;
}

#ntf-footer-logo {
    height: auto;
    width: 20rem;

}

.social-links {
    display: flex;
    padding-top: 6rem;
    width: 0.1rem;
}

.footer__left {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0 4rem;
}

.footer__left h2 {
    line-height: 2.5rem;
    text-decoration: none;
}

.footer__right {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.about-us-list {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30rem;
}
.footer__center li, .footer__right li {
    list-style-type: none;
    margin-bottom: 2rem;
    text-decoration: none;
}
.footer__center h2, .footer__right h2 {
    color: white;
    margin-bottom: 2rem;
}

/* .intro:before {
    display:none
} */

@media (max-width: 600px) {

    .top:before {
        display: none;
    }

}

@media (max-width: 1280px) and (min-width: 601px) {
    .intro:before {
        display:none
    }
    .intro--full div {
        color: #896E6E;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .intro__logos{
        flex-wrap: wrap;
        width: 100%;
    }
}