* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html, body {
    background-color: #131F2F;
    font-size: 62.5%;
    height: 100vh;
    width: 100%;
  }

  #page {
    /* height: 100%; */
    background-color: #1C121F;
    display: flex;
    flex-direction: column;
    font-family: 'Oxanium', 'Work Sans', Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    /* justify-content: space-around; */
    width: 100%;

  }

  body {
    display:grid;
    grid-template-rows: min-content auto min-content;
  }

  a:link{
    color: inherit;
    text-decoration: none;
  }